<!DOCTYPE html>
<html>
<head>
  <title>2-8 v-show</title>
</head>
<body>

  <div id="app">
    <input type="checkbox" v-model="__________" value="Running"> Running
    <input type="checkbox" v-model="_______________" value="Cycling"> Cycling
    <input type="checkbox" v-model="________________" value="Swimming"> Swimming

    <p ___________________>You selected: {{selectedInterests.join(', ')}}</p>
    <p ______________________>Please selected one of the above</p>
  
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    const HelloVueApp = {
      data() {
      return {
        interests: ['Running','Cycling','Swimming'],
        selectedInterests: []
      }
    }
  }
  Vue.createApp(HelloVueApp).mount('#app')
  </script>
</body>
</html>