<!DOCTYPE html>
<html>
<head>
  <title>Module 2: Directives</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <form method="post" action="/">
            <input type="checkbox" v-model="selectedInterests" value="Running"> Running
            <input type="checkbox" v-model="selectedInterests" value="Cycling"> Cycling
            <input type="checkbox" v-model="selectedInterests" value="Swimming"> Swimming
            <p>You selected: {{selectedInterests.join(', ')}}</p>
         </form>
    </div>
              
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                email: '',
                selectedInterests: []
                   }
            });
    </script>
</body>
</html>