<!DOCTYPE html>
<html>
<head>
  <title>Directives</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">

        <div v-for="interest in interests">
                <input type="checkbox" v-model="selectedInterests" v-bind:value="interest">{{interest}}
        </div>

        <p>You selected: {{selectedInterests.join(', ')}}</p>

        </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                interests: ['Running','Cycling','Swimming'],
                selectedInterests: []
            }
        })
    </script>
</body>
</html>