<!DOCTYPE html>
<html>
<head>
  <title>Module 2: Directives</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">

        <input type="checkbox" v-model="selectedInterests" value="Running"> Running
        <input type="checkbox" v-model="selectedInterests" value="Cycling"> Cycling
        <input type="checkbox" v-model="selectedInterests" value="Swimming"> Swimming


        <p v-if="selectedInterests.length == 3">You must be very active!</p>
		<p v-else-if="selectedInterests.length > 0">You selected: {{selectedInterests.join(', ')}}</p>
        <p v-else>Please select at least one interest.</p>

    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                interests: ['Running','Cycling','Swimming'],
                selectedInterests: []
                }
            })
        </script>
</body>
</html>