<!DOCTYPE html>
<html>
<head>
  <title>4-13 slot</title>
</head>
<body>
  <div id="app">
    <h2>Todo list:</h2>
    <ol>
      <todo-item v-for="item in SundayList" v-bind:todo="item">__________</todo-item>
      <todo-item v-for="item in MondayList" v-bind:todo="item">_____________</todo-item>
    </ol>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script>
   // Create a Vue application
   const ToDoApp = {
      data() {
      return {
        SundayList: ['Buy Groceries','Watch Movie','Visit Mom'],
        MondayList: ['Presentation','Pickup Laundry']
      }
    }
  }
  const app = Vue.createApp(ToDoApp)
  app.component('todo-item', {
    props: ['todo'],
    template: '<li>{{todo}} on ______________________</li>'
  })
  app.mount('#app')
  </script>
</body>
</html>