<!DOCTYPE html>
<html>
<head>
  <title>Components</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/jquery"></script>

  <style>
        .product-list h2 {
            margin-bottom: 40px;
        }
        .product-list ul img {
            float: left;
            width: 300px;
        }
        .product-list ul {
            list-style-type: none;
        }
        .product-list li {
            margin-bottom: 40px;
            clear: both;
        }
    </style>

</head>
<body>
    <div id="app">
        <product-list the-title="Shop our award-winning product line" :products="theProducts">
                <p slot="top">All items on sale now!</p>
                <em slot="bottom">Limited availability. Order soon!</em>
            </product-list>
            
            <product-list-flexible :products="theProducts" the-title="Custom layout">
                <template scope="props">
                    <strong>{{props.product.name}}</strong> - {{props.product.description}}
                </template>
        </product-list-flexible>
    </div>
            
    <script>
        Vue.component('product-list', {
            template: '<div class="product-list">\
                            <h2>{{theTitle}}</h2>\
                            <slot name="top">Watch this space for messages!</slot>\
                            <ul>\
                                <product-list-item v-for="product in products" :product="product">\
                                </product-list-item>\
                                <li><slot name="bottom"></slot></li>\
                            </ul>\
                        </div>',
            props: ['theTitle', 'products']
        });
        
        Vue.component('product-list-flexible', {
            template: '<div class="product-list">\
                            <h2>{{theTitle}}</h2>\
                            <ul>\
                                <li v-for="product in products">\
                                    <slot :product="product"></slot>\
                                </li>\
                            </ul>\
                        </div>',
            props: ['theTitle', 'products']
        });
        
        Vue.component('product-list-item', {
        template: '<li>\
                        <img :src="product.image">\
                        <p><strong>{{product.name}}</strong></p>\
                        <p>{{product.description}}</p>\
                    </li>',
            props: ['product']
        });
        var vm = new Vue({
            el: '#app',
            data: {
                theProducts: []
                },
                created: function() {
                    $.getJSON('https://hplussport.com/api/products')
                        .done(function(data) {
                            vm.theProducts = data; 
                    });
                }
            });
    </script>
            
</body>
</html>